// Preventing FOUC
// ###############
// http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.highlight-country-name {
  font-weight: 800;
}
.highlight-country-name .graph-text-col .text-span {
  background-color: #ffff64;
}

.leaflet-control.investment-info{
  padding: 4px;
  background-color: white;
  border: 1px solid #EAE8E8;
}

.custom-navigation__top-bar {
  padding: 0;
}
.custom-navigation__link  {
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.custom-navigation__link:hover {
  border-bottom: 4px solid #ed1b2e;
}
.custom-navigation__top-bar a {
  text-decoration: none;
  color: inherit;
}
.custom-navigation_spacer {
  height: 42px;
}

.info-icon, .competency-info {
  color: #777;
  cursor:pointer;
  text-decoration: none;
  cursor: pointer;
}
.info-icon:hover, .competency-info:hover {
  color: #000000;
}
#risk-map, #world-chart {
  border: 1px solid #DCDCDC;
}

#risk-map { height: 500px; }
#risk-map svg path {
  pointer-events: all;
}

.leaflet-container {
  // background:rgba(255,0,0,0.0) !important;
  background-color:rgba(255,0,0,0.0) !important;
}

.noUi-marker.noUi-marker-normal {
  background: none !important;
}
#competency-slider-wrapper {
  padding: 8px 0px 24px 0px;
}
#competency-slider {
  max-width: 200px;
}
#competency-slider.noUi-connect {
	background: rgb(174, 14, 28);
}
#competency-filter {
  font-weight: 800;
  color: rgb(174, 14, 28);
}

.country {
  // fill: rgba(237, 27, 46, 0.2);
  // stroke: red;
  // stroke-width: 1px;
  stroke: #000;
  stroke-width: 1px;
  stroke-linecap: round;
  cursor: pointer;
  pointer-events: all;
  stroke-linecap: round;
}

.text-right {
  text-align: right;
}

.subcat {
  margin-left: 10px;
}
.subcat-group__heading {
  border-bottom: 1px solid #d3d3d3;
}
.group-toggle {
  cursor: pointer;
}
.sliders.inform {
  margin:10px;
  max-width:200px;
  background:rgb(127, 0, 0);
}
.noUi-handle, .sliders {
  cursor: pointer;
}
.graph-segment {
  cursor: pointer;
  display: inline-block;
  height:12px;
  border-top: 1px solid #EAE8E8;
  border-bottom: 1px solid #EAE8E8;
}
.graph-text-col {
  text-align: right;
  padding: 0 6px;
}
.graph-bar-col  {
  padding: 0;
}

.sliders.null-slider { background: #e4e4e5 !important;}

#tooltip {
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 4px 6px;
    max-width: 300px;
}
#tooltip:empty {
    display:none;
}
#tooltip-competency {
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 4px 6px;
    max-width: 500px;
}
#tooltip-competency:empty {
    display:none;
}
